<section class="Awasome py-5">
    <div class="container text-center">
        <div class="row">
            <div class=" col-sm-12 mb-5">
              <div class="AwasomeHeading text-uppercase mb-5">
                <h1>Why THis Is Awasome</h1>

              </div>    
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt, explicabo.</p>            
            </div>
                <div class="forcenter col-sm-4">
                    
                        <div class="circle rounded-circle">
                            <i class="fa fa-bell"></i>
                    </div>
                  <div>
                    <h5 class="head-sec mb-3 mt-4">Thoughtful Design</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi laboriosam assumenda 
                        necessitatibus tenetur, dolore voluptates corrupti </p>
                  </div>
                     
                </div>
                <div class="forcenter col-sm-4">
                    
                    <div class="circle rounded-circle  ">
                        <i class="fa fa-bell"></i>
                </div>
                <h5 class="head-sec mb-3 mt-4">Well Crafted</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi laboriosam assumenda 
                    necessitatibus tenetur, dolore voluptates corrupti </p>
                 
            </div>
            <div class="forcenter col-sm-4">
                    
                <div class="circle rounded-circle ">
                    <i class="fa fa-bell"></i>
            </div>
            <h5 class="head-sec mb-3 mt-4">Easy to Customize</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi laboriosam assumenda 
                necessitatibus tenetur, dolore voluptates corrupti </p>
             
        </div>
                
        </div>
    </div>
</section>