



$Head-pri:#ffffff;
$Head-sec:#000000;
$Head-ter:#212121;

$Text-Pri:#bababb;
$Text-sec:#b1b2b4;


$sec-Back1:#ffffff;
$sec-Back2:#f5f5f5;

$Font-awasome:#cccccc;

$button-pri:#13151a;
$button-sec:#ff8b38;



$Dual1:#ffffff;
$Dual2:#ff8b38;








/*bg prising #f5f5f5
bg #ffffff


pri Tab #ff8b38
sec Tab # 333333


button bg1 #13151a
button bg-2 13151a


font Awasome # cccccc
*/