<section class="sublist py-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 align-self-center">
               <img class="img-fluid " src="../../../assets/images/leftListjpeg.jpg" alt=""> 
            </div>
            <div class="col-sm-6 align-self-center">
                <div class="heading ">
                    <h4>Sub List Section </h4>
                    
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Voluptates soluta sapiente in id eius incidunt fugiat, ullam
                     facilis aliquid consequatur.</p>
            <!-- <div class="row"> -->
                <!-- <div class="col-sm-12"> -->
                <div class="row">
                    <div class="col-sm-2">
                        <div class="circle rounded-circle">
                            <i class="fa fa-bell"></i>
                        </div>
                        </div>
                        <div class="col-sm-10">
                            <h4>Title</h4>
                          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam ducimus ratione voluptas ex nobis maxime odit 
                           </p>
                        </div>
                </div>
                <!-- </div> -->
             
            <!-- </div> -->
            <!-- <div class="row"> -->
                <!-- <div class="col-sm-12"> -->
              <div class="row">
                <div class="col-sm-2">
                    <div class="circle rounded-circle">
                        <i class="fa fa-bell"></i>
                    
                </div>
                 </div>
                 <div class="col-sm-10">
                     <h4>Title</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam ducimus ratione voluptas ex nobis maxime odit 
                     </p>
                 </div>
              </div>
                <!-- </div> -->
            <!-- </div> -->
            </div>
        </div>
    </div>
</section>