<section class="heriImg ">
    <div class="container ">
        <div class="row ">
            <div class="col-md-6 mb-3 ">
                <a class="navbar-brand logo" href="#"><strong>AX</strong><span>IT</span></a>

                <div class="Herohead">
                    <h4>MODERN AXURE TEMPLATE
                        FOR BEAUTIFUL PROTOTYPES</h4>
                </div>
                <div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam distinctio officiis
                         illo nulla similique placeat voluptates officia veritatis tempora voluptatibus maiores 
                         quas reprehenderit aspernatur temporibus, id blanditiis quae qui.</p>
                    <button class="btn btn btn-outline-secondary text-white mt-3">Download</button>
                </div>
            </div>
            <div class="col-md-6 text-center formcard mb-4">
                <div class="card border-none">
                    <div class="card-header bg-dark">
                    <h5  class=""> Try Your <strong class="free">FREE</strong> Trial Today</h5>

                    </div>
                    <div class="card-body">
                        <form action="javascript:;">
                            <input type="text" class="form-control" placeholder="Name">
                            <input type="text" class="form-control" placeholder="Email">
                            <input type="text" class="form-control" placeholder="Password">
                        </form>
                    </div>
                    <div class="card-footer Getstarted">
                    <a  class="text-white">GET STARTED</a>
                    </div>
                </div>
        </div>
    </div>
    </div>
</section>
