
<app-navbar></app-navbar>
<app-hero-section></app-hero-section>
<app-social-media></app-social-media>
<app-tab-effects [Heading]="'TAB1'">
    <h5 class="mb-2 text-dark">Tabs with soft transitioning effect.</h5>
    <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Cumque harum unde illum distinctio exercitationem obcaecati!Lorem 
        Cumque harum unde illum distinctio exercitationem obcaecati!
        Cumque harum 
        </p>
        <p class="mb-2 text-capitalize" >Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Cumque harum unde illum distinctio exercitationem obcaecati!Lorem 
            Cumque harum unde illum distinctio exercitationem obcaecati!
            Cumque harum 
            </p>
        <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Cumque consectetur adipisicing elit
           </p>
           <button class="btn btn btn-outeline">Download</button>
</app-tab-effects>
<!-- <app-tab-effects [Heading]="'TAB2'">
    <h5 class="mb-2 text-dark">Tabs with soft transitioning effect.</h5>
    <p class="mb-2" >Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Cumque harum unde illum distinctio exercitationem obcaecati!Lorem 
        Cumque harum unde illum distinctio exercitationem obcaecati!
        Cumque harum 
        </p>
        <p class="mb-2 text-capitalize" >Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Cumque harum unde illum distinctio exercitationem obcaecati!Lorem 
            Cumque harum unde illum distinctio exercitationem obcaecati!
            Cumque harum 
            </p>
        <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Cumque consectetur adipisicing elit
           </p>
           <button class="btn btn btn-outeline">Download</button>
</app-tab-effects>
<app-tab-effects [Heading]="'TAB3'">
    <h5 class="mb-2 text-dark">Tabs with soft transitioning effect.</h5>
    <p class="mb-2" >Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Cumque harum unde illum distinctio exercitationem obcaecati!Lorem 
        Cumque harum unde illum distinctio exercitationem obcaecati!
        Cumque harum 
        </p>
        <p class="mb-2 text-capitalize">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Cumque harum unde illum distinctio exercitationem obcaecati!Lorem 
            Cumque harum unde illum distinctio exercitationem obcaecati!
            Cumque harum 
            </p>
        <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Cumque consectetur adipisicing elit
           </p>
           <button class="btn btn btn-outeline">Download</button>
</app-tab-effects> -->
<app-sub-list></app-sub-list>
<app-standard-picture></app-standard-picture>
<app-awasome></app-awasome>
<app-pricing></app-pricing>
<app-reviews></app-reviews>
<app-stylish-design></app-stylish-design>
<app-contact-us></app-contact-us>
<app-footer-social></app-footer-social>
<!-- <app-pricing [package]="card" *ngFor="let card of packageStorage ">
</app-pricing> -->