@import"../Abstract/Vaiables";
@import "../Abstract/Mixins";


.headingLine{
 @include CenterLine;
 color:$Head-ter;
 font-family: sans-serif;
}
input{
    outline: 0;
    border-width: 0 0 2px;
    border-color: rgb(39, 35, 35);
    border-radius: none!important;
    -webkit-border-radius: none!important;
    -moz-border-radius: none!important;
    -ms-border-radius: none!important;
    -o-border-radius: none!important;
}
input:focus {
    border-color: green;
  }

.txtArea{
    outline: 0;
    border-width: 0 0 2px;
    border-color: rgb(39, 35, 35);
    width: 100%;
    height: 100%;
    border-radius: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    -ms-border-radius: none;
    -o-border-radius: none;
}
.btns{
    background-color:$button-sec;
}