
@import"../Abstract/Vaiables";
@import"../Abstract/Mixins";

section.sublist{
    display: flex;
    justify-content: center;
    align-self: center;
    justify-content: space-between;
    background-color: $sec-Back2;

    .heading{
    @include leftLineOrange;
    }

    
}
.circle{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 60px;
    max-width: 60px;
    outline: 1px solid $Dual2;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    
i{
      
        display: flex;
        justify-content: center;
        color:$Dual2;
}
}
