<section class="Footersocial  ">
    <div class="container text-center">
        <div class="row">
           
            <div class="col-md-12 text-center align-self-center icons ">
                
                     <a href="#" class="btn social-icon button" data-abc="true"><i class="fa fa-facebook"></i></a> 
                     <a href="#" class="btn social-icon button" data-abc="true"><i class="fa fa-twitter btn-round"></i></a> 
                     <a href="#" class="btn social-icon button" data-abc="true"><i class="fa fa-google-plus btn-round"></i></a> 
                     <a href="#" class="btn social-icon button" data-abc="true"><i class="fa fa-pinterest"></i></a> 
                     <a href="#" class="btn social-icon button" data-abc="true"><i class="fa fa-rss btn-round"></i></a> 
                     <a href="#" class="btn social-icon button" data-abc="true"><i class="fa fa-instagram btn-round"></i></a> 
                     <a href="#" class="btn social-icon button" data-abc="true"><i class="fa fa-wave-square"></i></a> 
                     
                     <div class="mt-1">
                        <p>
                            @2015 Auxer Themes
                        </p>
                    </div>  
            </div>
           
            </div>
        </div>
</section>