<section class="reviews py-5">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-line">
                    <h1>What Our Customers are saying</h1>
                   
                </div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis, cupiditate?</p>
            </div>
            <div class="col-md-4 col-sm-4 ">
                <i class="bi bi-chat-left"></i>
                <div class="circleimg rounded-circle ">
                       
                </div>
              
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="circleimg rounded-circle">
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="circleimg rounded-circle">
                </div>
            </div>
        </div>
    </div>
</section>