<section class="socialMedia py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-5 align-self-center">
                <h5>Social Media</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi nobis sit ducimus voluptatibus, maxime autem?</p>
            </div>
            <div class="col-md-7 col-sm-7 text-center align-self-center icons mb-2">
                
                     <a href="#" class="btn social-icon button" data-abc="true"><i class="fa fa-facebook"></i></a> 
                     <a href="#" class="btn social-icon button" data-abc="true"><i class="fa fa-twitter btn-round"></i></a> 
                     <a href="#" class="btn social-icon button" data-abc="true"><i class="fa fa-pinterest"></i></a> 
                     <a href="#" class="btn social-icon button" data-abc="true"><i class="fa fa-rss btn-round"></i></a> 
                     <a href="#" class="btn social-icon button" data-abc="true"><i class="fa fa-instagram btn-round"></i></a> 
                     <a href="#" class="btn social-icon button" data-abc="true"><i class="fa fa-google-plus btn-round"></i></a> 
                     
                        
            </div>
            </div>
        </div>
</section>